.header-layout {
    border: 5px green solid;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav-link{
    text-decoration: none;
    padding: 10px;
}

.logout-button{
    width: 100px;
    height:30px;
    border: none;
    outline: none;
    background-color: bisque;
    border-radius: 5px;
    cursor: pointer;
}

.light-mode{
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    background-color: bisque;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}